* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  height: 100vh;
  width: 100%;
  padding: 1.5rem 1rem;
  position: relative;
  overflow: hidden;
  font-family: 'Abel', sans-serif;
}

video {
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  transform: translateX(50%);
}

.toDo {
  background: gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: auto;
  position: relative;
  z-index: 3;
}

.header img {
  display: block;
  width: 60%;
  margin: 0 auto;
  transform: translateY(5px);
}

.header__border {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: #5FACBC 3px solid;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .2rem .7rem .5rem .7rem;
  color: #FF3422;
}

.header__title {
  text-align: center;
  color: #FCEE0A;
  -webkit-text-stroke: 0.5px #5FACBC;
  letter-spacing: .4rem;
  text-shadow: 0px 0px 8px #F3CD5A;
}

.header__tdContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  text-shadow: 0px 0px 8px #FF3422;
}

.header__counterContainer {
  display: flex;
  align-items: center;
}

.header__counterContainer img {
  display: block;
  width: 2rem;
  padding-right: .5rem;
  margin: initial;
  transform: translateY(0px);
}

.header__counterContainer span {
  color: #FCEE0A;
  text-shadow: 0px 0px 8px #FCEE0A;
}

.main {
  position: relative;
  flex: 7;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: #5FACBC 3px solid;
  border-right: #5FACBC 3px solid;
  color: #FF3422;
  padding: 2rem  1.5rem 1.5rem 1.5rem;
}

.main .mission {
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  border: #5FACBC 3px solid;
  border-top: none;
  position: relative;
  animation: .5s newMission forwards;
  transform: translateY(-50%);
  transition: .6s ease-in-out all;
}

.main .mission::before {
  content: '';
  position: absolute;
  width: 108.5%;
  height: 14px;
  top: -14px;
  left: -3px;
  background: url(../img/topMissionBorder.png) repeat-x 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 360px) {
  .main .mission::before {
    left: -4px;
  }
}

.main .mission p {
  word-wrap: break-word;
}

.main .mission__title {
  font-size: 1.15rem;
  color: #FCEE0A;
  text-shadow: 0px 0px 8px #FCEE0A;
}

.main .mission__text {
  color: #FF3422;
  text-shadow: 0px 0px 8px #FF3422;
}

.main .mission__edit {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.main .mission__edit_icons {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.main .mission__edit_icons img {
  width: 1.5rem;
  margin-right: 5%;
}

.main .mission__status span:first-of-type {
  color: #5FACBC;
  text-shadow: 0px 0px 8px #5FACBC;
}

.main .mission__status .statusCompleted {
  color: #00CA45;
  text-shadow: 0px 0px 8px #00CA45;
}

.main .mission__status .statusNotCompleted {
  color: #FF3422;
  text-shadow: 0px 0px 8px #FF3422;
}

.main .missionCompleted {
  border: rgba(95, 172, 188, 0.3) 3px solid;
  border-top: none;
}

.main .missionCompleted::before {
  content: '';
  position: absolute;
  width: 108.5%;
  height: 14px;
  top: -14px;
  left: -3px;
  background: url(../img/topMissionBorder.png) repeat-x 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main .missionCompleted .mission__title {
  color: #FCEE0A;
  text-shadow: 0px 0px 0px #FCEE0A;
  opacity: .3;
}

.main .missionCompleted .mission__text {
  color: #FF3422;
  text-shadow: 0px 0px 0px #FF3422;
  opacity: .3;
}

.main .missionCompleted .mission__edit_icons {
  opacity: .3;
}

.main .missionCompleted .mission__status span:first-of-type {
  color: #5FACBC;
  text-shadow: 0px 0px 0px #5FACBC;
  opacity: .3;
}

.main .missionCompleted .mission__status .statusCompleted {
  color: #00CA45;
  text-shadow: 0px 0px 8px #00CA45;
}

.main .missionCompleted .mission__status .statusNotCompleted {
  color: #FF3422;
  text-shadow: 0px 0px 0px #FF3422;
  opacity: .3;
}

.mainNoScroll {
  overflow-y: hidden;
}

.mainInactive {
  filter: blur(2px);
}

.footer {
  position: relative;
  z-index: 5;
  flex: .7;
  background: orange;
  padding: 1rem;
  border-bottom-right-radius: 40px;
  border: #5FACBC 3px solid;
  border-top: none;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
}

.footer .newMissionWindow {
  position: absolute;
  width: 85%;
  height: 13rem;
  padding: 1rem;
  background-color: rgba(32, 32, 32, 0.9);
  bottom: 100%;
  left: 50%;
  z-index: 3;
  transition: .3s ease-in-out;
  border: 2px solid #5FACBC;
  transform: translateX(-50%);
  border-top-right-radius: 35px;
}

.footer .newMissionWindow input {
  background: none;
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #5FACBC;
  color: #FCEE0A;
  text-shadow: 0px 0px 8px #F3CD5A;
}

.footer .newMissionWindow input:focus {
  outline: none;
}

.footer .newMissionWindow textarea {
  width: 100%;
  background: url("../img/Pattern.png") rgba(32, 32, 32, 0.9);
  overflow-y: auto;
  border-style: none;
  border-color: Transparent;
  height: 80%;
  padding: .6rem;
  margin-bottom: .5rem;
  border: 2px solid #5FACBC;
  box-shadow: 0px 0px 4px #5FACBC;
  color: #FF3422;
  text-shadow: 0px 0px 8px #FF3422;
  font-family: 'Abel', sans-serif;
}

.footer .newMissionWindow textarea:focus {
  outline: none;
}

.footer .newMissionWindow::before {
  content: '';
  position: absolute;
  width: 21%;
  height: 100%;
  top: -10%;
  left: -4.5%;
  background: url(../img/topNewMissionBorder.png) repeat-x 100% 0;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 360px) {
  .footer .newMissionWindow::before {
    top: -6%;
  }
}

@media (min-width: 375px) {
  .footer .newMissionWindow::before {
    top: -7.5%;
  }
}

@media (min-width: 411px) {
  .footer .newMissionWindow::before {
    top: -8%;
  }
}

.footer .addNewMissionBtnClosed {
  display: none;
}

.footer .addNewMissionBtn {
  opacity: 1;
  visibility: visible;
}

.footer .addNewMissionWindowBtn {
  transition: .2s ease-in-out;
  height: 100%;
}

.footer .addNewMissionWindowBtnOpen {
  transform: rotate(45deg);
  height: 100%;
}

.footer .newMissionWindowClosed {
  transform: translateX(-170%);
}

.footer .editBtn {
  width: 15%;
}

.footer .editBtnHidden {
  display: none;
}

.footerMissionOpen {
  flex-direction: row-reverse;
  justify-content: space-between;
}

@keyframes newMission {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */