
.appContainer{
    height: 100vh;
    width: 100%;
    // background: red;
    padding: 1.5rem 1rem;
}

.toDo{
    background: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    
    background: rebeccapurple;
    flex: 1.2;

    &__tdContainer{
        display: flex;
        justify-content: space-between;
    }

}

.main{
    background: yellow;
    flex: 7;
}


.footer{
    background: orange;
    flex: .7;
}